.about-page-container {
    padding:1rem;
    margin-bottom:4rem;
    padding:4rem 2rem 2rem 2rem;
    margin-bottom:3rem;
    height:auto;
    display: flex;
}

.about-page-stats {
    display: block;
}

.about-page-stat {
    margin-bottom:2rem;
}
.too {
    color:black;
}
 

.about-img-container {
        width:30%;
        justify-content: center;
        text-align: center;
        padding-top:5rem;
}
    
.about-img {
        width:60%;
        text-align: center;
        justify-content: center;
}
    
    .about-content-container {
        display: flex;
        margin-bottom:2rem;
    }
    
    .about-content-div {
        padding:0rem 2rem;
        width:70%;
    }
    
    .about-paragraph {
        display: flex;
    }
    .about-paragraph-content {
        font-size:1.5rem;
        margin-bottom:2rem;
    }
    
    .about-paragraph-content-bold {
        font-size:2rem;
    
    }
    
    .about-paragraph-description {
        margin-bottom:4rem;
    }
    
    .about-paragraph-assist {
        margin-bottom:2rem;
        font-size:1.5rem;
    }
    

    .about-page-img {
        margin-bottom:5rem;
    }
    
    .about-page-inspector-img {
        width:75%;
    }
    

    @media (max-width: 780px) {
        .about-content-container {
          display: block;
          padding:0rem 1rem !important;
        }
        .about-img-container {
            width:100%;
            justify-content: center;
            text-align: center;
            padding-top:0rem;
            margin-bottom:2rem;
        }
        .about-img {
            width:40%;
            text-align: center;
            justify-content: center;
        }

        
        .about-content-div {
            padding:0rem 0rem;
            width:100%;
        }

        .about-inspect-div {
            text-align: center;
        }

        .about-page-stats {
            display: flex;
        }
        .about-page-container {
            padding:1rem;
            margin-bottom:4rem;
            padding:4rem 0rem 2rem 0rem;
        }
        .about-container {
            padding:4rem 0rem 2rem 0rem;

        }
        .about-stat-number {
            font-size:1.5rem;
        }
        .about-stat-title {
            font-size:1rem;
        }
}
