.town-all-locations-div {
    display: inline-flex;
}

.town-all-locations-div {

}

.fairfield-county-div, .litchfield-county-div {
    margin:0rem 2rem;
}
.location-hr {
    width:30%;
    margin: auto;
    margin-bottom:1rem;
}

.location-link:hover {
    cursor:pointer;
    color: rgb(108, 108, 108);
}

.location-icon {
    color:rgb(186, 166, 97);
    margin-right:0.5rem;
}

.too {
    color:black;
}




.location-town {
    font-weight:300;
    text-align: left;
}


