.i-service-container {
    padding:0rem 3rem;
}
.service-content-container {
    display: flex;
    margin-bottom:4rem;
}

.service-title {
    margin-bottom:1rem;
}

.service-img-div, .service-description-div {
    width: 50%;
}

.service-description-div {
    padding-left:2rem;
    line-height:5vh;
}


@media (max-width: 900px) {

    .i-service-container {
        padding:0rem 1rem;
    }
    .service-content-container {
        display: block;
    }

    .service-img-div, .service-description-div {
        width: 100%;
    }
    .service-img-div {
        margin-bottom:2rem;
    }

    .service-description-div {
        padding-left:0rem;
    }
  }
