.testimonials-container {
  padding:0rem !important; 
}
.testimonial-slider{
  background-color: rgb(186, 166, 97);
  box-shadow:1px 5px 12px rgba(200,200,200);
  border-radius:20px;
  color:white;
  height:auto;
  padding:1rem 2rem;
  justify-content: center;
  text-align: center;
  padding-bottom:0.5rem;
  margin-bottom:4rem;
  overflow: visible;
}


.testimonial-slide-container {
  margin:0rem;
}

.testimonial-img {
  width:20%;
  border-radius:50%;
  margin-bottom:1rem;
  margin-top:-2rem;
  background-color: white;
}
.swiper {
  padding:1rem 4rem !important;
}
.testimonial-hr {
    width:10%;
    margin:auto;
    margin-bottom:2rem;
}

.testimonial-profile-container {
  font-weight:700;
  font-size:1.5rem;
}

.testimonial-location-container {
  margin-bottom:1rem;
  color:white;
}
.testimonial-content-container {
  margin-bottom:3rem;
  font-weight:400;
}

.swiper-button-next {
  right:0px;
  color:black !important;
  cursor:pointer;
}

.swiper-button-prev {
  left:0px !important;
  color:black !important;
  cursor:pointer;

}

.testimonial-date-container {
  text-align: right;
  color:white;
  letter-spacing: .11vw;
  font-weight:400;
  font-size: 0.9rem;
}


@media (max-width: 650px) {
  .swiper {
    font-size: 0.8rem;
    padding: 1rem 1rem !important;
  }

  .swiper-button-next {
    top:300px !important;

  }
  
  .swiper-button-prev {
    top:300px !important;
  }

  .testimonial-slider {
    margin-bottom:1rem;
  }
}
